/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
body{
    background-color: black;
    height: 100vh;
    color: white;
}

button{
    color: white;
}
/* Typo */
body{
    font-family: 'Roboto', sans-serif;
}
/* Header */
header{
    height: 8vh;
}

header .header-btm{
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

header .header-btm button{
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

/* Main */



main .container{
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    background-color: black;
    overflow: auto;
    height: 84vh;
}

main .container .box img{
    width: 100%;
}

main .container .box{
    padding: 2px 0;
    position: relative;
}

main .container .users{
    position: absolute;
    font-size: 13px;
    bottom: 5px;
    padding: 10px;
    left: 0;
    background-color: rgba(85, 85, 85, 0.5);
}
/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #222222;
    position: fixed;
    z-index: 20;
}

.footer .left-footer, .footer .right-footer{
    width: 30%;
}
.footer .center-footer{
    width: 80%;
}
/* left footer */
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .left-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    gap:20px;
}

footer .left-footer, footer .center-footer, footer .right-footer{
    display: flex;
}
footer .action{
    font-size: 15px;
    margin-top: 5px;
}
.icon>i {
    font-size: 25px;
    margin-top: 10px;
}
.up-arrow{
    font-size: 9px;
    align-items: center;
}
/* center footer */
.center-footer{
    justify-content: center;
    align-items: center;
}
.center-footer>*{
    padding: 5px 13px;
}


.center-footer .icon:nth-child(4)>i{
    color: rgb(0, 255, 0);
}
/* right footer */
footer .right-footer{
    background-color: #4a4a4a;
    height: 100%;
}

footer .right-footer span{
    align-self:center ;
    padding: 15px;
    color: red;
}